* {
    background-color: lightcoral;
}

h1 {
    text-align: center;
    font-size: 48px;
}

h2 {
    font-style: italic;
}

.recipe_list, .recipe_list * {
    background-color: red;
    text-align: center;
}

.recipe_list ul {
    display: table;
    margin: 0 auto;
}

.cover_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ingredients, .ingredients * {
    background-color: yellow;
}

.steps, .steps * {
    background-color: rgb(94, 94, 94);
    color: white;
}